
### DO NOT Ignore read me or markdown files
!README.md
!**/README.md
!**/*.md

### DO NOT IGNORE sample files
!**/*.sample

ignore environments
**/*.env


### Ignore IDE files
.idea/
.vs-code/

### Ignore MacOS files
.DS_Store

### Ignore Python environments
.env/
env/
venv/
.venv/

### Ignore data files
data/

### Ignore experiment files
experiment/

### Ignore cached python files
__pycache__/
*.pyc
