
### DO NOT Ignore read me or markdown files
!README.md
!**/README.md
!**/*.md

### DO NOT IGNORE sample files
!**/*.sample

ignore environments
**/*.env


### Ignore IDE files
.idea/
.vs-code/

### Ignore MacOS files
.DS_Store

### Ignore Python environments
.env/
env/
venv/
.venv/

### Ignore experiment files
experiment/

### Ignore cached python files
__pycache__/
*.pyc
weights/trained/model_2024-09-12_16-36-23_EPOCHS 3000_source-share.v2i.yolov8/weights/best.onnx
